/*--------------------------------------
    eyoom (이윰빌더)
--------------------------------------*/

/*---------- Preloader ----------*/
.loader-wrap {bottom:0;left:0;overflow:hidden;position:fixed;right:0;top:0;z-index:1001}
.no-js .loader-wrap {display:none}
.loader {display:block;position:relative;left:50%;top:50%;width:150px;height:150px;margin:-75px 0 0 -75px;border-radius:50%;border:3px solid transparent;border-top-color:#006be2;-webkit-animation:loader-spin 1.7s linear infinite;animation:loader-spin 1.7s linear infinite;z-index:11}
.loader:before {content:"";position:absolute;top:5px;left:5px;right:5px;bottom:5px;border-radius:50%;border:3px solid transparent;border-top-color:#e52700;-webkit-animation:loader-spin-reverse .6s linear infinite;animation:loader-spin-reverse .6s linear infinite}
.loader:after {content:"";position:absolute;top:15px;left:15px;right:15px;bottom:15px;border-radius:50%;border:3px solid transparent;border-top-color:#ec8b00;-webkit-animation:loader-spin 1s linear infinite;animation:loader-spin 1s linear infinite}
.loader-wrap .loader-section-left {position:fixed;top:0;left:0;width:51%;height:100%;background:#e5e5e5;z-index:10}
.loader-wrap .loader-section-right {position:fixed;top:0;right:0;width:51%;height:100%;background:#e5e5e5;z-index:10}
@-webkit-keyframes loader-spin {
    0% {-webkit-transform:rotate(0)}
    100% {-webkit-transform:rotate(360deg)}
}
@keyframes loader-spin{
    0% {-webkit-transform:rotate(0);transform:rotate(0)}
    100% {-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@-webkit-keyframes loader-spin-reverse{
    0% {-webkit-transform:rotate(0)}
    100% {-webkit-transform:rotate(-360deg)}
}
@keyframes loader-spin-reverse{
    0% {-webkit-transform:rotate(0);transform:rotate(0)}
    100% {-webkit-transform:rotate(-360deg);transform:rotate(-360deg)}
}
.loaded .loader-wrap .loader-section-left {transform:translateX(-100%);transition:all .7s .3s cubic-bezier(.645,.045,.355,1)}
.loaded .loader-wrap .loader-section-right {transform:translateX(100%);transition:all .7s .3s cubic-bezier(.645,.045,.355,1)}
.loaded .loader {opacity:0;transition:all .3s ease-out}
.loaded .loader-wrap {visibility:hidden;transform:translateY(-100%);transition:all .3s 1s ease-out}

/*---------- Wrapper ----------*/
.wrapper {position:relative;overflow:hidden}


/*---------- Page Title ----------*/
.page-title-wrap {position:relative; width:100%; background:#fff;}
.page-title-wrap .sub-breadcrumb-wrap {display:block; position:relative; width:100%; height:50px; line-height:48px; border-bottom:1px solid #EBEBEB;}
.page-title-wrap .sub-breadcrumb {color:#c5c5c5; font-size:.875rem}
.page-title-wrap .sub-breadcrumb:after {content:"";display:block;clear:both}
.page-title-wrap .sub-breadcrumb li {float:left;margin-left:7px; color:#000; font-size:14px; font-weight:500;}
.page-title-wrap .sub-breadcrumb li:before {content:""; margin-right:7px; display:inline-block; vertical-align:middle; width:14px; height:14px; background:url(/images/sub_nav_arrow.png) no-repeat center center;}
.page-title-wrap .sub-breadcrumb li:first-child:before {display:none}
.page-title-wrap .sub-breadcrumb a {color:#000; font-size:14px; font-weight:500;}
.page-title-wrap .inner {max-width:1400px; margin:0 auto;}
.page-title-wrap h2 {display:block; margin:0; padding:0; font-size:36px; color:#000; font-weight:700; height:180px; line-height:180px;}
.page-title-wrap h2 i {display:none;}

@media (max-width:1440px){
	.page-title-wrap h2 {height:140px; line-height:140px;}
	.page-title-wrap .inner {padding:0 20px;}
}

@media (max-width:767px){
	.page-title-wrap h2 {font-size:26px; height:100px; line-height:100px;}
}

/*---------- Sub Nav ----------*/
.sub-nav-wrap {position:relative;z-index:3;padding:20px 0 0;margin-bottom:40px}
.sub-nav-home {display:none}
.sub-nav-list {position:relative}
.sub-nav-title {position:relative;margin:0;padding:0 30px 0 15px;font-size:13px;line-height:30px;border:1px solid #c5c5c5}
.sub-nav-title i {position:absolute;top:8px;right:10px}
.sub-nav-list ul {display:none;position:absolute;top:31px;left:0;z-index:10;width:100%;padding:10px 0;border:1px solid #c5c5c5;border-top:0 none;background:#fff}
.sub-nav-list li a {display:block;padding:0 15px;font-size:13px;line-height:30px}
.sub-nav-depth1 {margin-bottom:10px}
.sub-nav-wrap .sub-breadcrumb-wrap {display:none}

@media (min-width:992px){
    .sub-nav-wrap {position:relative;width:100%;height:70px;background:#555;padding:0;margin-bottom:40px}
    .sub-nav-wrap .container {position:relative}
    .sub-nav-wrap-in:after {content:"";display:block;clear:both}
    .sub-nav-home {display:block;float:left}
    .sub-nav-home a {display:block;height:50px;padding:0 15px;line-height:50px;font-size:20px;color:#353535;border-left:1px solid #c5c5c5;border-right:1px solid #c5c5c5}
    .sub-nav-home a:hover {color:#cc2300}
    .sub-nav-list {float:left;margin:0 0 0 -1px}
    .sub-nav-title {min-width:200px;padding:0 45px 0 25px;line-height:50px;font-size:15px;border:0 none;color:#353535;border-right:1px solid #c5c5c5}
    .sub-nav-title.cursor-pointer {cursor:pointer}
    .sub-nav-title i {top:18px;right:20px}
    .sub-nav-title:hover {color:#cc2300;font-weight:700}
    .sub-nav-list ul {top:50px;padding:0}
    .sub-nav-list li {float:none}
    .sub-nav-list li a {padding:10px 15px;border-top:1px solid #c5c5c5;font-size:14px}
    .sub-nav-list li:first-child a {border-top:0}
    .sub-nav-list li a:hover {color:#303F9F;background:#fafafa}
    .sub-nav-list li.active a {color:#303F9F;font-weight:700}
    .sub-nav-wrap .sub-breadcrumb-wrap {display:block;position:absolute;top:25px;right:15px}
    .sub-nav-wrap .sub-breadcrumb {color:#c5c5c5}
    .sub-nav-wrap .sub-breadcrumb:after {content:"";display:block;clear:both}
    .sub-nav-wrap .sub-breadcrumb li {float:left;margin-left:7px}
    .sub-nav-wrap .sub-breadcrumb li:before {content:"/";margin-right:7px}
    .sub-nav-wrap .sub-breadcrumb li:first-child:before {display:none}
    .sub-nav-wrap .sub-breadcrumb a {color:#fff}

}
@media (max-width:992px) {
    .sub-nav-wrap {padding-top:20px;background:#fff}
}

/*---------- Body ----------*/
.basic-body {position:relative; padding:0;}
.basic-body:after {content:"";display:block;clear:both}
.basic-body .container {width:auto; max-width:1400px; margin:0 auto; padding:0;}

/*---------- Page Title ----------*/
.subpage-title {position:relative;font-size:1.5rem;border-bottom:1px solid #e5e5e5;font-weight:bold;padding:10px 0;line-height:1.7;color:#353535;background:#fff;margin-bottom:30px}
.subpage-title::after {content:"";position:absolute;bottom:-2px;left:0;width:50px;height:3px;background-color:#3F51B5}
.subpage-title .back-btn {display:block;position:absolute;top:16px;right:0;text-align:center;padding:6px 15px;margin:0;font-weight:400;line-height:1;border:1px solid #b5b5b5;font-size:.875rem}
.subpage-title .back-btn:hover {color:#303F9F}

@media (max-width:767px) {
	.basic-body {padding:0;}
	.subpage-title .back-btn {display:none}
}

/*---------- Main Contents ----------*/
.basic-body-main {float:left; padding:0; width:100%;}
.main-slider {position:relative; max-width:100%; font-size:0; overflow:hidden;}

.main_contents {max-width:100% !important; padding:0 !important}
.main_contents h2.subject {font-size:36px; line-height:120%; font-weight:600; color:#000; margin:0 0 90px; text-align:center;}
.main_contents h2.subject + p {font-size:24px; color:#5f5f5f; margin:-80px 0 90px; text-align:center;}

.main_list {width:100%; padding:100px 0;}

@media (max-width:1440px) {
	.main_list {padding:100px 0;}
	.main_contents h2.subject {margin:0 0 70px;}
	.main_contents h2.subject + p {margin:-55px 0 70px;}
}

@media (max-width:767px) {
	.main_contents h2.subject {font-size:24px; margin:0 0 50px;}
	.main_contents h2.subject + p {font-size:16px; margin:-35px 0 50px;}

	.main-slider {padding:0 20px;}
	.main_list {padding:70px 0;}
}

@media (max-width:480px) {
	.main_list {padding:50px 0;}
}


.main_special {overflow:hidden; max-width:1530px; margin:0 auto; padding-left:50px; padding-right:50px;}
.main_special .box {text-align:center;}
.main_special .box .img {width:100%; margin:0 0 20px; border-radius:10px;}
.main_special .box h5 {font-size:20px; color:#000; font-weight:700; margin:0 0 10px; line-height:1;}
.main_special .box p {font-size:16px; color:#5f5f5f; margin:0 0 10px; line-height:140%;}
.main_special .box a {display:inline-block; line-height:40px;} 
.main_special .box a img {display:inline-block; vertical-align:middle; margin:0 10px 2px 0;}
.main_special .slick-prev, .main_special .slick-next {width:50px; height:50px; z-index:1000; top:38%;}
.main_special .slick-prev img, .main_special .slick-next img {display:none;}
.main_special .slick-prev {left:-50px; right:auto; background:url("/images/icon_arrow_left.png") no-repeat center center !important; opacity:0.4;}
.main_special .slick-next {right:-50px; left:auto; background:url("/images/icon_arrow_right.png") no-repeat center center !important; opacity:0.4;}
.main_special .slick-prev:before, .main_special .slick-next:before {display:none !important;}
.main_special .slick-prev.slick-disabled:before, .main_special .slick-next.slick-disabled:before {opacity:0;}
.main_special .slick-prev:hover, .main_special .slick-prev:focus, .main_special .slick-next:hover, .main_special .slick-next:focus {opacity:1 !important}
.main_special .slick-slide {margin:0 14px;}

@media (max-width:1440px) {
	.main_special {padding-left:40px; padding-right:40px;}
	.main_special .box {width:20%;}
	.main_special .slick-slide {margin:0 10px;}
}

@media (max-width:1440px) {
	.main_special .slick-prev, .main_special .slick-next {top:32%;}
}

@media (max-width:767px) {
	.main_special {padding-left:0; padding-right:0;}
	.main_special .slick-slide {margin:0 5px;}
}

@media (max-width:480px) {
	.main_special h2.subject {margin:0 0 30px;}
	.main_special h2.subject + p {margin:-15px 0 30px;}
	.main_special .slick-list {padding:0 15% 0 0;}
	.main_special .box h5 {font-size:16px;}
	.main_special .box p {font-size:14px;}
}

.main_sleep {width:100%; background:#FAFAFA;}
.main_sleep h2.subject br {display:none;}
.main_sleep ul {overflow:hidden; max-width:1400px; margin:0 auto;}
.main_sleep ul li {position:relative; float:left; width:32%; height:200px; margin-right:2%; margin-bottom:24px; background:#fff; border-radius:10px; padding:24px 20px;}
.main_sleep ul li:nth-of-type(3n) {margin-right:0;}
.main_sleep ul li:nth-of-type(1) {background:#fff url(/images/main_sleep1.png) no-repeat 92% 78%;}
.main_sleep ul li:nth-of-type(2) {background:#fff url(/images/main_sleep2.png) no-repeat 92% 78%;}
.main_sleep ul li:nth-of-type(3) {background:#fff url(/images/main_sleep3.png) no-repeat 92% 78%;}
.main_sleep ul li:nth-of-type(4) {background:#fff url(/images/main_sleep4.png) no-repeat 92% 78%;}
.main_sleep ul li:nth-of-type(5) {background:#fff url(/images/main_sleep5.png) no-repeat 92% 78%;}
.main_sleep ul li h5 {font-size:24px; color:#000; font-weight:700;}
.main_sleep ul li a {position:absolute; left:20px; bottom:24px; display:block;}
.main_sleep ul li a img {display:inline-block; vertical-align:middle; margin:0 10px 2px 0;}

@media (max-width:1440px) {
	.main_sleep {padding-left:20px; padding-right:20px;}
}

@media (max-width:767px) {
	.main_sleep h2.subject br {display:block;}
	.main_sleep ul li {width:48.5%; height:150px; margin-right:3%; margin-bottom:16px;}
	.main_sleep ul li:nth-of-type(3n) {margin-right:3%;}
	.main_sleep ul li:nth-of-type(2n) {margin-right:0%;}
}

@media (max-width:640px) {
	.main_sleep ul li:nth-of-type(1), .main_sleep ul li:nth-of-type(2), .main_sleep ul li:nth-of-type(3), .main_sleep ul li:nth-of-type(4), .main_sleep ul li:nth-of-type(5) {background-size:25%;}
}

@media (max-width:480px) {
	.main_sleep ul li {float:left; background:none; width:100%; height:130px; margin:0; padding:35px 0 0 50%;}
	.main_sleep ul li:nth-of-type(3n) {margin-right:0;}
	.main_sleep ul li:nth-of-type(1) {background:#fafafa url(/images/main_sleep1.png) no-repeat 20% center;}
	.main_sleep ul li:nth-of-type(2) {background:#fafafa url(/images/main_sleep2.png) no-repeat 20% center;}
	.main_sleep ul li:nth-of-type(3) {background:#fafafa url(/images/main_sleep3.png) no-repeat 20% center;}
	.main_sleep ul li:nth-of-type(4) {background:#fafafa url(/images/main_sleep4.png) no-repeat 20% center;}
	.main_sleep ul li:nth-of-type(5) {background:#fafafa url(/images/main_sleep5.png) no-repeat 20% center;}
	.main_sleep ul li:nth-of-type(1), .main_sleep ul li:nth-of-type(2), .main_sleep ul li:nth-of-type(3), .main_sleep ul li:nth-of-type(4), .main_sleep ul li:nth-of-type(5) {background-size:auto;}
	.main_sleep ul li a {position:relative; left:auto; bottom:auto; margin:10px 0 0;}
}

@media (max-width:420px) {
	.main_sleep ul li {padding:35px 0 0 52%;}
	.main_sleep ul li:nth-of-type(1) {background:#fafafa url(/images/main_sleep1.png) no-repeat 18% center;}
	.main_sleep ul li:nth-of-type(2) {background:#fafafa url(/images/main_sleep2.png) no-repeat 18% center;}
	.main_sleep ul li:nth-of-type(3) {background:#fafafa url(/images/main_sleep3.png) no-repeat 18% center;}
	.main_sleep ul li:nth-of-type(4) {background:#fafafa url(/images/main_sleep4.png) no-repeat 18% center;}
	.main_sleep ul li:nth-of-type(5) {background:#fafafa url(/images/main_sleep5.png) no-repeat 18% center;}
}


.main_best {}
.main_best .tab {overflow: hidden; width:100%; border-bottom:1px solid rgba(20,23,81,0.3); margin:0 0 100px; text-align:center;}
.main_best .tab button {display:inline-block; background:none; border: none; outline: none; cursor: pointer; padding: 0 45px; height:60px; line-height:60px; transition: 0.3s; font-size:20px; color:#5f5f5f; border-radius:10px 10px 0 0;}
.main_best .tab button + button {margin-left:-3px;}
.main_best .tab button.active {background: #141751;  color:#fff;}
.main_best .tabcontent {display:none; padding:0; overflow:hidden; max-width:1400px; margin:0 auto;}
.main_best .tabcontent .banner {float:left; width:684px;}
.main_best .tabcontent ul {float:right; width:684px; overflow:hidden;}
.main_best .tabcontent ul li {float:left; width:326px; height:326px; text-align:center; background:#f3f3f3; border-radius:10px; overflow:hidden;}
.main_best .tabcontent ul li + li {}
.main_best .tabcontent ul li:nth-of-type(1), .main_best .tabcontent ul li:nth-of-type(2) {margin-bottom:32px;}
.main_best .tabcontent ul li:nth-of-type(even) {margin-left:32px;}
.main_best .tabcontent ul li .img {height:238px; border-radius:10px; margin:0 0 20px; overflow:hidden;}
.main_best .tabcontent ul li .img img {width:100%;}
.main_best .tabcontent ul li .desc {padding:0 10px 15px;}
.main_best .tabcontent ul li .desc a {display:block; font-size:16px; color:#343434; margin:0 0 10px; font-weight:500; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.main_best .tabcontent ul li .desc p {font-size:14px; color:#3a3a3a; font-weight:500;}
.main_best .tabcontent ul li .desc p s {font-size:12px; color:#5F5F5F; font-weight:400; padding-left:10px;}

@media (max-width:1440px) {
	.main_best .tab {margin:0 0 80px;}
	.main_best .tabcontent {padding:0 20px;}
	.main_best .tabcontent .banner {width:49%;}
	.main_best .tabcontent .banner img {width:100%;}
	.main_best .tabcontent ul {width:49%; margin-left:2%;}
	.main_best .tabcontent ul li {width:49%; height:auto;}
	.main_best .tabcontent ul li:nth-of-type(1), .main_best .tabcontent ul li:nth-of-type(2) {margin-bottom:2%;}
	.main_best .tabcontent ul li:nth-of-type(even) {margin-left:2%;}
	.main_best .tabcontent ul li .img {height:auto;}
}

@media (max-width:767px) {
	.main_best .tab {padding:0 20px; margin:0 0 50px;}
	.main_best .tab button {float:left; display:block; width:25%; padding:0 10px; font-size:18px;}
	.main_best .tab button + button {margin-left:0;}

	.main_best .tabcontent .banner {float:none; width:100%; margin:0 0 20px;}
	.main_best .tabcontent ul {float:none; width:100%; margin-left:0;}
	.main_best .tabcontent ul li {width:48.5%;}
	.main_best .tabcontent ul li:nth-of-type(1), .main_best .tabcontent ul li:nth-of-type(2) {margin-bottom:2%;}
}

@media (max-width:480px) {
	.main_best .tab {border:0; margin:0 0 30px;}
	.main_best .tab button {width:49.5%; border-radius:0; background:#f7f7f7; height:50px; line-height:50px;}
	.main_best .tab button:nth-of-type(1), .main_best .tab button:nth-of-type(2) {margin-bottom:5px;}
	.main_best .tab button:nth-of-type(2n) {margin-left:1%;}

	.main_best .tabcontent ul li {float:none; width:100%;}
	.main_best .tabcontent ul li:nth-of-type(1), .main_best .tabcontent ul li:nth-of-type(2) {margin-bottom:0;}
	.main_best .tabcontent ul li:nth-of-type(even) {margin-left:0;}
	.main_best .tabcontent ul li + li {margin-top:15px;}
}

.main_review {background:#fafafa;}
.main_review .list {max-width:1428px; margin:0 auto; overflow:hidden; padding:0;}
.main_review .box {float:left; width:448px; margin:0 14px 30px;}
.main_review .box .img {position:relative; margin:0 0 20px; height: 0; padding-bottom:70%;  border-radius:10px; overflow:hidden;}
.main_review .box .img a {display:block;}
.main_review .box .img img {width:110%; position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.main_review .box .desc h5 {font-size:20px; color:#000; font-weight:700; margin:0 0 12px; line-height:1.2;}
.main_review .box .desc p {font-size:14px; color:#343434; margin:0 0 10px; line-height:140%;}
.main_review .box .desc p + p {margin-top:10px;}
.main_review .box .desc a {display:block; line-height:40px; font-size:16px; color:#5F5F5F;} 
.main_review .box .desc a img {display:inline-block; vertical-align:middle; margin:0 10px 2px 0;}

@media (max-width:1440px) {
	.main_review {padding-left:8px; padding-right:8px;}
	.main_review .box {width:31%; margin:0 1.16% 30px;}
}

@media (max-width:980px) {
	.main_review .box {width:48%; margin:0 1% 30px;}
}

@media (max-width:480px) {
	.main_review {padding-left:20px; padding-right:20px;}
	.main_review .box {float:none; width:100%; margin:0 0 30px;}
}

.main_help {max-width:1400px; margin:0 auto; overflow:hidden;}
.main_help .left {float:left; width:30%;}
.main_help .left h2.subject {text-align:left; line-height:130%;}
.main_help .left h2 + p {font-size:16px; color:#5f5f5f;text-align:left; line-height:140%;}
.main_help .left h2 + p strong {color:#141751; font-weight:400; display:block;}
.main_help .right {float:right; width:65%; margin-left:5%;}
.main_help ul {overflow:hidden; max-width:1400px; margin:0 auto;}
.main_help ul li {position:relative; float:left; width:50%; min-height:250px; margin-bottom:24px; background:#fff; border-radius:10px; padding:0  20px 24px;}
.main_help ul li .img {width:100px; height:100px; border:1px solid #c4c4c4; text-align:center; line-height:100px; margin:0 0 15px; border-radius:50%;}
.main_help ul li a {display:block; color:#5f5f5f;}
.main_help ul li h5 {font-size:20px; color:#5f5f5f; font-weight:600; margin:0 0 10px;}
.main_help ul li p {font-size:15px; line-height:140%; /*font-family: 'Poppins', sans-serif;*/}

@media (max-width:1440px) {
	.main_help {padding-left:20px; padding-right:20px;}
}

@media (max-width:1200px) {
	.main_help .left {float:none; width:100%;}
	.main_help .left h2.subject {text-align:center;}
	.main_help .left h2 + p {text-align:center;}
	.main_help .right {float:none; width:100%; margin-left:0%;}
}

@media (max-width:980px) {
	.main_help ul li p br {display:none;}
}

@media (max-width:767px) {
	.main_help ul li {min-height:auto; padding:0 10px 24px;}
	.main_help ul li .img {margin:0 auto 15px;}
	.main_help ul li h5 span {display:none;}
	.main_help ul li a {text-align:center;}
	.main_help ul li p {font-size:14px;}
}

@media (max-width:480px) {
	.main_help .left h2 + p {display:none;}
	.main_help ul li {padding:0 0 24px;}
	.main_help ul li p {display:none;}
}
@media (max-width:420px) {
	.main_help ul li h5 {font-size:18px;}
}


/*---------- Footer ----------*/
.footer {position:relative; background:#141751; padding:60px 20px;}
.footer .container {max-width:1400px; margin:0 auto; overflow:hidden;}
.footer_logo {float:left; width:230px;}
.footer-cont-info {float:left; width:calc(100% - 230px); position:relative; word-break:keep-all; line-height:1.6}
.footer-cont-info p {color:#C4C4C4; font-size:12px;}
.footer-cont-info p + p {margin-top:20px}
.footer-cont-info .cs {color:#fff; font-weight:600; font-size:14px;}
.footer-cont-info .cs span.info-divider {margin-left:5px;margin-right:5px;color:#fff}
.footer-cont-info a {color:#C4C4C4;}
.footer-cont-info .service {color:#878787;}
.footer-cont-info .footer-nav a {display:inline-block; color:#C4C4C4;}
.footer-cont-info .footer-nav a + a {margin-left:20px;}
.footer-cont-info.wide {}
.footer-cont-info.mob {display:none;}
.footer-cont-info .copyright {display:block; margin:10px 0; line-height:1;}
#con_copy {display:none;}
#btn_copy {display:inline-block; vertical-align:top; margin:0 0 0 7px;}

@media (max-width:767px) {
	.footer {padding:40px 20px 90px;}
	.footer_logo {float:none; width:100%; text-align:center; margin:0 0 20px;}
	.footer-cont-info {float:none; width:100%;}
}

@media (max-width:480px) {
	.footer {padding:30px 20px 90px;}
	.footer_logo {text-align:left;} 
	.footer-cont-info .cs {font-weight:400; font-size:12px;}
	.footer-cont-info .service {margin:20px 0;}
	.footer-cont-info.wide {display:none;}
	.footer-cont-info.mob {display:block;}
}

/*---------- Search Full ----------*/
.search-full {position:fixed;top:0;bottom:0;left:0;right:0;background:rgba(0, 0, 0, 0.5);display:none;z-index:1010}
.search-field {position:absolute;top:0;left:0;right:0; width:100%; height:220px; background:#fff; transform:translateY(0); padding:0 20px;}
.search-field h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.search-field form {position:relative; max-width:1400px;margin:40px auto 0; line-height:80px; border-bottom:2px solid #000; color:#000;}
.search-field #search_input {font-size:52px; font-weight:700; padding:10px 30px 0 10px;-webkit-appearance:none;display:block;background:transparent; color:#333 !important; width:100%; border:0 !important; margin:0 auto; box-shadow:none; border:none !important;}
.search-field form input[type=text]::-ms-input-placeholder {color:#000 !important;}
.search-field form input[type=text]::-webkit-input-placeholder {color:#000 !important;}
.search-field form input[type=text]::-moz-placeholder {color:#000 !important;}
.search-field form input[type=text]::placeholder {color:#000 !important; opacity:1;}

.search-field .search-btn {position:absolute;top:10px;right:0;width:45px;height:45px;border:0;cursor:pointer;color:#000;background:transparent;font-size:1.55rem}
.search-full .search-close-btn {position:absolute;top:20px;right:20px;width:50px;height:50px;cursor:pointer;z-index:1}
.search-close-btn:after {content:"";height:50px;border-left:2px solid #000;position:absolute;transform:rotate(45deg);left:24px}
.search-close-btn:before {content:"";height:50px;border-left:2px solid #000;position:absolute;transform:rotate(-45deg);left:24px}
.search-field p {max-width:1400px; margin:10px auto 0; display:block; font-size:16px; color:#000;}

@media (max-width:1440px) {
	.search-field form {width:70%;}
	.search-field p {width:70%;}
}
@media (max-width:767px) {
	.search-field #search_input {font-size:32px;}
	.search-full .search-close-btn {top:20px;right:30px;width:30px;height:30px;}
	.search-close-btn:after {height:30px; left:24px}
	.search-close-btn:before {height:30px; left:24px}
	.search-field form {width:90%; line-height:60px;}
	.search-field p {width:90%;}
	.search-field .search-btn {top:10px;}
}

/*---------- Offcanvas ----------*/
.offcanvas-backdrop {z-index:1003}

/*---------- My Home ----------*/
.my-home>.container {padding-left:0;padding-right:0}

/*---------- Eb BackToTop ----------*/
.eb-backtotop {position:fixed;right:15px;bottom:15px;height:46px;width:46px;cursor:pointer;display:block;-webkit-border-radius:50% !important;-moz-border-radius:50% !important;border-radius:50% !important;box-shadow:inset 0 0 0 2px rgba(255,255,255,0.15);background:#fff;z-index:1003;opacity:0;visibility:hidden;transform:translateY(15px);-webkit-transition:all 0.2s linear;transition:all 0.2s linear}
.eb-backtotop.active-progress {opacity:1;visibility:visible;transform:translateY(0)}
.eb-backtotop:after {position:absolute;content:"\f106";font-family:'Font Awesome\ 5 Free';font-weight:900;text-align:center;font-size:16px;color:#757575;left:0;top:0;height:46px;width:46px;line-height:28px;cursor:pointer;display:block;z-index:1;-webkit-transition:all 0.2s linear;transition:all 0.2s linear}
.eb-backtotop:hover:after {color:#cc2300}
.eb-backtotop svg path {fill:none}
.eb-backtotop svg.backtotop-progress path {stroke:#b5b5b5;stroke-width:4;box-sizing:border-box;-webkit-transition:all 0.2s linear;transition:all 0.2s linear}
.eb-backtotop .progress-count {display:block;position:absolute;bottom:8px;left:0;right:0;font-size:11px;text-align:center;color:#a5a5a5}
.eb-backtotop {box-shadow:inset 0 0 0 2px rgba(0,0,0,0.15)}
.eb-backtotop:after {color:#2b2b2e}
.eb-backtotop svg.backtotop-progress path {stroke:#cc2300}